/**/*
!/**/
/venv/
!*.ipynb
!*.gitignore
!*.md
!*.bat
!*.py
!*.yml
!*.ui
!*.yaml

!requirements.txt
!version.txt
!pyproject.toml

/docs/build
!/docs/Makefile

/build/

/runs 
/results
/wandb
/scripts/playground
!/media/**
